.footer{
    height: 50vh;
    background:linear-gradient(250deg,rgb(61, 68, 142),rgb(16, 16, 16));
    display: flex;
   
}
.contacth1{
    position: absolute;
    color: white;
    font-size: 60px;
    font-weight: 400;
    margin-left: 120px;
}
.fooicons{
    background-color: white;
    height: 100px;
    width: 75%;
    margin-left: 10%;
    border-radius: 50px;
   margin-top:120px ;
  
}
.icons svg{
    width: 50px;
    height: 50px;
    margin-left: 15%;
    margin-top: 30px;
    color: black;
}
.contact{
    margin-top: 30px;
    text-align: center;
    color: white;
}